@charset "utf-8";

.header-main {
    .content {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }
    border-bottom: 2px solid #fff;
    font-size: 20px;
    padding: 30px 0;
    width: 100%;
}

.nav-main {
    ul {
        text-decoration: none;
        float: left;
        margin-left: 40px;
    }
    li {
        display: inline-block;
      

        &+li{
            padding-left: 15px;
        }
    
    }

    a {
        color: #fff;
        text-decoration: none;
        transition: 1s;
    }
    a:hover {
        color: #C1171E;
        transition: 2s;
    }
}

.logo {
    float: left;
}

.header__btn {
    float: left;
    margin-left: 40px;
    border-radius: 5px;
    color: #fff;
    display: block;
    background-color: #C1171E;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}